 body{
	text-indent: 50px;
	margin: 0;
 }
 h2 {
	font-family: verdana;
	font-weight: bold;
}
 p {
    border: 1px solid powderblue;
    padding: 30px;
	padding-right: 50%;
	overflow: auto;
	font-family: ;
  text-indent: 0;
}
 .hpozadi{ 
	position: center;
	padding-top: 0px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	 
 }
 .hbaner{
	position: center;
	padding-bottom: 80px;
 }
 .topnav{
	 position: fixed;
	 top: 0;
	 overflow: hidden;
	 background-color: rgb(95, 95, 95);
	 width: 100%;
   font-variant: small-caps;
 } 
 .topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 8px 100px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
.topnav a.active {
	background-color: white;
	color: black;
}
.topnav a:hover {
	background-color: rgb(130, 130, 130);
}	
footer {
	background-color: black;
	color: white;
	text-align: center;
}
img .float {
	float: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}